.table_style1 {width:100%; border-collapse:collapse; border-top:2px solid #0589ef}
.table_style1 th, .table_style1 td {font-size:15px; text-align:center; padding:13px 8px; border-bottom:1px solid #ededed}
.table_style1 th {font-weight:500; background:#f7f7f7;}
.table_style1 td {font-weight:500; word-break:break-all;}

.no_board {display:none;}

.divSearch>form {display:flex; width:20%; min-width:400px; margin-bottom:10px;}
.divSearch>form * {height:30px !important; border-radius:0 !important}
.divSearch>form select { width:150px;}
.divSearch>form .search,
.divSearch>form input[type='submit']{ width:120px; line-height:2.3; border:0; min-width:120px; cursor:pointer;}
.divSearch>form input[type='text'] {width:220px; border-left:0; border-right:0}

@media screen and (max-width:767px){
	.table_style1 th, .table_style1 td {font-size:13px; padding:11px 6px;}
}


.board_list_page {margin-top:80px; text-align:center;}
.board_list_page a {display:block; width:30px; line-height:30px; border-radius:2px; font-size:14px;}
.board_list_page a:hover {background:#f3f7f9; color:#00a7ed !important}
.board_list_page .arrow {display:inline-block; vertical-align:middle; color:#999}
.board_list_page .arrow:before {font-weight:900; font-family:'Font Awesome 5 Free';}
.board_list_page .arrow.first:before {content:'\f100'}
.board_list_page .arrow.prev:before {content:'\f104'}
.board_list_page .arrow.next:before {content:'\f105'}
.board_list_page .arrow.end:before {content:'\f101'}
.board_list_page ul {display:inline-block;}
.board_list_page ul li {display:inline-block; vertical-align:middle;}
.board_list_page ul li a {color:#777;}
.board_list_page ul li.active a {background:#00a7ed; color:#fff;}
.board_list_page ul li.active a:hover {color:#fff !important}

.board_password {width:95%; max-width:500px; margin:0 auto; padding:90px 50px; box-sizing:border-box; border:1px solid #ddd; border-radius:10px; text-align:center;}
.board_password i {font-size:60px; color:#0377bf; margin-bottom:20px;}
.board_password p {font-size:18px; color:#222;}

.board_view .tit {font-size:20px; color:#231f20; line-height:1.3em; margin-top:5px;}
.board_view .date {font-size:13px; color:#999; line-height:1em; margin-top:10px;}
.board_view .date:before {content:'\f017'; font-weight:400; font-family:'Font Awesome 5 Free'; margin-right:8px;}
.board_view .content {margin-top:30px; padding:30px 0 50px; border-top:1px solid #bbb; border-bottom:1px solid #bbb; font-size:15px; color:#777; line-height:1.7em; letter-spacing:-0.035em;}
.board_view .content ul {margin-bottom:20px;}
.board_view .content ul li {font-size:16px; color:#222;}
.board_view .option {overflow:hidden; border-bottom:1px solid #bbb; padding:11px 0;}
.board_view .option .t1 {float:left; width:100px; font-size:15px; margin:0;}
.board_view .option .t2 {float:left; width:calc(100% - 100px); font-size:15px; margin:0;}
.board_view .comment {overflow:hidden; padding:11px 0;}
.board_view .comment .t1 {float:left; width:100px; font-size:15px; line-height:40px; margin:0;}
.board_view .comment textarea {display:block; float:left; width:calc(100% - 230px); height:100px; border:1px solid #ddd; border-radius:0; resize:none; box-sizing:border-box; padding:7px;}
.board_view .comment input[type="submit"] {float:right; width:120px; height:100px;}
.board_view .comment .comment_list {padding-top:15px; border-bottom:1px solid #eee; clear:both;}
.board_view .comment .comment_list > li {background:#f7f7f7; border-top:1px solid #eee; box-sizing:border-box; padding:12px 10px;}
.board_view .comment .comment_list > li .tit_box p {display:inline-block; margin-right:10px;}
.board_view .comment .comment_list > li .btn {text-align:right; width:100%;}
.board_view .comment .comment_list > li .btn li {display:inline-block; margin-left:10px;}
.board_view .comment .comment_list > li textarea {width:calc(100% - 130px)}
.board_view .comment .comment_list > li form {display:none;}

@media screen and (max-width:992px){
	.board_list_page {margin-top:10%;}
	.board_list_page a {width:25px; line-height:25px;}
}

@media screen and (max-width:767px){
	.board_list_page a {width:22px; line-height:22px; font-size:12px;}
	
	.board_password {padding:70px 30px;}
	.board_password i {font-size:50px;}
	.board_password p {font-size:16px;}
	
	.board_view .content {font-size:13px;}
	.board_view .content ul li {font-size:14px;}
	.board_view .option .t1 {width:70px}
	.board_view .option .t2 {width:calc(100% - 70px)}
	.board_view .comment .t1 {width:70px; font-size:13px;}
	.board_view .comment textarea {width:calc(100% - 165px); height:80px;}
	.board_view .comment input[type="submit"] {width:90px; height:80px;}
	.board_view .comment .comment_list > li textarea {width:calc(100% - 95px)}
}


.c_fff {color:#ffffff !important}


.button_style3 {text-align:center;}
.button_style3 li {display:inline-block; margin:0 2px;}

.btn_large {display:block; width:180px; line-height:50px;border:1px solid #4a80e5; border-radius:4px; text-align:center; font-size:1.125em;}

.btn_medium {display:block; width:150px; line-height:43px; border:1px solid #4a80e5; border-radius:4px; text-align:center; font-size:1em;}

.btn_small {display:block; width:120px !important; height:auto !important; line-height:40px; border:1px solid #4a80e5; font-size:0.93em; text-align:center; border-radius:4px; margin:0 auto; cursor:pointer;}


.btn_case1 {background:#4a80e5; color:#fff;}
.btn_case2 {background:#555; border-color:#555; color:#fff !important;}
.btn_case3 {background:#fff; color:#4a80e5;}
.btn_case4 {background:#fff; border-color:#555; color:#555;}
.btn_case5 {background:#DB9A96 !important; border-color:#DB9A96; color:#fff !important;}

.btn_case1:hover {background:#1355d0; text-decoration:none;}
.btn_case2:hover {background:#111; border-color:#111; text-decoration:none;}
.btn_case3:hover {border-color:#1355d0; color:#1355d0; text-decoration:none;}
.btn_case4:hover {border-color:#111; color:#111; text-decoration:none;}

.write_content {width:100%; height:180px; border:1px solid #ddd; border-radius:5px; font-size:14px; resize:none; padding:8px;}


.input_col3 {overflow:hidden;}
.input_col3 input[type="text"], .input_col3 input[type="password"] {display:block; float:left; width:calc(33.33% - 3.33px); margin-right:5px;}
.input_col3 input[type="text"]:nth-child(3n), .input_col3 input[type="password"]:nth-child(3n) {margin-right:0;}

.input_col2 {overflow:hidden;}
.input_col2 input[type="text"], .input_col2 input[type="password"] {display:block; float:left; width:calc(50% - 2.5px); margin-right:5px;}
.input_col2 input[type="text"]:nth-child(even) {margin-right:0;}

@media screen and (max-width:992px){
	.button_style3 li {margin:1px;}

	.btn_large {width:170px; line-height:45px;}

	.btn_medium {width:140px; line-height:40px;}

	.btn_small {width:100px !important; line-height:38px !important}
}



@media screen and (max-width:767px){
	.btn_large {width:160px; line-height:40px;}

	.btn_medium {width:130px; line-height:36px;}

	.btn_small {width:90px !important; line-height:34px !important;}
}

.option_check {width:100%; position:relative; padding:8px; border-radius:5px; border:1px solid #ddd;}
.option_check label {display:block; font-size:14px; color:#222; font-size:14px; font-weight:400; display:inline-block; margin:5px;}
.option_check label input[type="checkbox"] {margin-right:3px; position:relative; top:2px;}

@media screen and (max-width:767px){
	.option_check label {font-size:12px; margin:3px;}
}


.notice_board {padding:8px 13px 4px; background:#586ebf; font-size:0.85em; color:#fff; line-height:1em;}

@media screen and (max-width:767px){
	.notice_board {padding-left:5px; padding-right:5px;}
}