.main_wrap {/*padding:0 5px;*/ margin-top:131px !important; /*height:500px;*/}

@media screen and (max-width:992px){
	.main_wrap {margin-top:0 !important}
}


/* main */
#mVisual {width:100%; height:640px; overflow:hidden; position:relative;}
#mVisual .visu_slide {width:100%; height:100%}
#mVisual .visu_slide .swiper-slide {width:100%; height:100%; }
#mVisual .visu_slide .txt_box {width:94%; max-width:1200px; margin:140px auto 0; text-align:left;; vertical-align:middle; position:relative; z-index:10; color:#fff;}
#mVisual .visu_slide .txt_box .t1 {font-size:40px; font-weight:300; line-height:1.2em; margin:0; opacity:0; transform:translateY(60px); transition:all 0.7s ease}
#mVisual .visu_slide .txt_box .t2 {font-size:64px; font-weight:600; line-height:1.2em; opacity:0; transform:translateY(60px); transition:all 0.7s ease 0.4s}
#mVisual .visu_slide .txt_box .t3 {font-size:16px; line-height:1.5em; font-weight:300; margin-top:30px; opacity:0; transform:translateY(60px); transition:all 0.7s ease 0.8s}
#mVisual .visu_slide .img_box {position:absolute; left:0; top:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover; -ms-transform: scale(1.0,1.0); -o-transform: scale(1.0,1.0); -moz-transform: scale(1.0,1.0); -webkit-transform: scale(1.0,1.0); transform: scale(1.0,1.0); -webkit-transition:transform 6000ms  ease-in-out ; -moz-transition:transform 6000ms ease-in-out ; -o-transition:transform 6000ms ease-in-out; -ms-transition:transform 6000ms ease-in-out; transition:transform 6000ms ease-in-out ;}
#mVisual .visu_slide .swiper-slide-active .img_box {-ms-transform: scale(1.1,1.1) rotate(0.0001deg); -o-transform: scale(1.1,1.1) rotate(0.0001deg); -moz-transform: scale(1.1,1.1) 
	rotate(0.0001deg); -webkit-transform: scale(1.1,1.1) rotate(0.0001deg); transform: scale(1.1,1.1) rotate(0.0001deg);}
#mVisual .visu_slide .swiper-slide-active .txt_box .t1, #mVisual .visu_slide .swiper-slide-active .txt_box .t2, #mVisual .visu_slide .swiper-slide-active .txt_box .t3 {opacity:1; transform:translateY(0)}
#mVisual .visu_slide .swiper-pagination {bottom:20px; z-index:5;}
#mVisual .visu_slide .swiper-pagination-bullet {display:inline-block; width:70px; height:3px; background:#fff; opacity:0.3; border-radius:0; margin:0 3px;}
#mVisual .visu_slide .swiper-pagination-bullet-active {opacity:1}


@media screen and (max-width:992px){
	#mVisual {height:580px}
	#mVisual .visu_slide .txt_box .t1 {font-size:32px;}
	#mVisual .visu_slide .txt_box .t2 {font-size:57px;}
	#mVisual .visu_slide .txt_box .t3 {font-size:15px;}
	#mVisual .visu_slide .swiper-pagination {bottom:10px}
	#mVisual .visu_slide .swiper-pagination-bullet {width:50px;}
}

@media screen and (max-width:767px){
	#mVisual {height:500px;}
	#mVisual .visu_slide .txt_box {width:90%; text-align:center; margin-top:170px}
	#mVisual .visu_slide .txt_box .t1 {font-size:24px;}
	#mVisual .visu_slide .txt_box .t2 {font-size:42px;}
	#mVisual .visu_slide .txt_box .t3 {font-size:15px; margin-top:15px;}
	#mVisual .visu_slide .txt_box .t3 br {display:none;}
	#mVisual .visu_slide .swiper-pagination-bullet {width:30px; height:2px; margin:0 1.5px;}
}

#mAdvice {width:100%; height:320px; background:#eee; position:relative; z-index:100;}
#mAdvice > div {width:100%; max-width:1200px; margin:0 auto; height:100%; box-sizing:border-box; padding-left:410px; position:relative;}
#mAdvice .txt_box {width:410px; height:380px; background:#044fa2; position:absolute; left:0; top:-30px; display:table; color:#fff;}
#mAdvice .txt_box > div {display:table-cell; text-align:center; vertical-align:middle;}
#mAdvice .txt_box h2 {font-size:33px; font-weight:600; line-height:1.2em;}
#mAdvice .txt_box h2:after {content:''; display:block; width:30px; height:1px; background:#fff; margin:15px auto;}
#mAdvice .txt_box .number {font-size:40px; line-height:1em; font-family:'Montserrat'}
#mAdvice .txt_box .time {display:inline-block; font-size:18px; color:#044fa2; font-weight:500; line-height:32px; background:#fff; padding:0 25px; border-radius:3px;}
#mAdvice .txt_box .t1 {font-size:15px; margin-top:25px; line-height:1.3em; font-weight:300;}
#mAdvice .form_box {display:table; width:100%; height:100%;}
#mAdvice .form_box form {display:table-cell; vertical-align:middle; box-sizing:border-box; padding:0 125px 0 50px;}
#mAdvice .form_box .tit h2 {display:inline-block; font-size:28px; color:#044fa2; font-weight:600; line-height:0.8em; vertical-align:middle;}
#mAdvice .form_box ul {margin:0 0 10px; position:relative; box-sizing:border-box; padding-right:124px;}
#mAdvice .form_box ul li {overflow:hidden;}
#mAdvice .form_box ul li:first-child {margin-bottom:5px;}
#mAdvice .form_box ul li label {display:block; float:left; width:120px; line-height:52px; font-size:16px; color:#fff; font-weight:400; text-align:center; background:#044fa2; margin-bottom:0;}
#mAdvice .form_box ul li .f_input {display:block; float:left; width:calc(100% - 120px); line-height:52px; border:0; background:#fff; box-sizing:border-box; padding:0 15px 0 25px; font-size:16px; font-weight:300; font-family:'GmarketSans';}
#mAdvice .form_box ul li.btn {position:absolute; right:0; top:0; width:114px; height:100%; display:block; padding:0;}
#mAdvice .form_box ul li.btn button {width:100%; height:100%; font-size:18px; color:#fff; line-height:1.3em; font-weight:500; background:#044fa2; border-radius:3px; border:0; transition:background 0.5s}
#mAdvice .form_box ul li.btn button:hover {background:#2c84f0;}
#mAdvice .form_box .privacy {font-size:16px; line-height:1em; color:#666;}
#mAdvice .form_box .privacy a {color:#044fa2; border-bottom:1px solid #dbdee5;}
#mAdvice .form_box .privacy input[type="checkbox"] {width:16px; height:16px; border-color:#c4c4c4; vertical-align:top; margin:0 5px 0 0;}

#mAdvice.sub_advice {height:380px}
#mAdvice.sub_advice .txt_box {height:100%; top:0;}

@media screen and (max-width:1199px){
	#mAdvice > div {padding-left:380px;}
	#mAdvice .txt_box {width:380px}
	#mAdvice .form_box form {padding:0 30px;}
	#mAdvice .form_box .tit h2 {margin-right:10px; padding-right:10px;}
}

@media screen and (max-width:992px){
	#mAdvice {height:auto;}
	#mAdvice > div {padding-left:40%;}
	#mAdvice .txt_box {width:40%; height:100%; top:0;}
	#mAdvice .form_box form {padding:50px 5%;}
	#mAdvice .form_box .tit h2 {font-size:28px;}
	#mAdvice .form_box ul {margin-top:5px; padding-right:95px;}
	#mAdvice .form_box ul li:first-child {margin-bottom:5px;}
	#mAdvice .form_box ul li label {width:90px; font-size:15px; line-height:40px;}
	#mAdvice .form_box ul li .f_input {width:calc(100% - 90px); font-size:15px; line-height:40px; padding:0 10px;}
	#mAdvice .form_box ul li.btn {width:90px;}
	#mAdvice .form_box ul li.btn button {font-size:17px}
	#mAdvice .form_box .privacy {font-size:12px; padding:15px;}
	#mAdvice .form_box .privacy input[type="checkbox"]  {width:13px; height:13px;}

	 #mAdvice.sub_advice {height:350px}
}

@media screen and (max-width:767px){
	#mAdvice > div {padding-left:0;}
	#mAdvice .txt_box {position:relative; width:100%; padding:6% 0;}
	#mAdvice .txt_box h2 {font-size:27px}
	#mAdvice .txt_box .number {font-size:37px}
	#mAdvice .txt_box .time {font-size:16px; padding:0 20px;}
	#mAdvice .txt_box .t1 {font-size:13px; margin-top:15px;}
	#mAdvice .form_box form {padding:40px 5%;}
	#mAdvice .form_box .tit h2 {font-size:26px;}
	#mAdvice .form_box ul {padding-right:85px; margin-top:15px;}
	#mAdvice .form_box ul li label {font-size:13px;line-height:35px;}
	#mAdvice .form_box ul li .f_input {font-size:13px; line-height:35px;}
	#mAdvice .form_box ul li.btn {width:80px;}
	#mAdvice .form_box ul li.btn button {font-size:15px}

	

	 #mAdvice.sub_advice {height:auto;}

}


#mBanner {width:98%; height:400px; margin:0 auto; background:url(../images/main/mBannerBG.jpg) no-repeat center center; display:table; position:relative;}
#mBanner::before {content:"";display:block; width:1px; height:70px; background:rgba(255,255,255,0.3); position:absolute; top:0; left:50%}
#mBanner::after {content:"";display:block; width:1px; height:70px; background:rgba(255,255,255,0.3); position:absolute; bottom:0; left:50%}
#mBanner > div {display:table-cell; text-align:center; vertical-align:middle; color:#fff;}
#mBanner > div h2 {font-size:50px; font-weight:bold; letter-spacing:-0.06em;}
#mBanner > div p {font-size:18px; letter-spacing:-0.05em; font-weight:300; margin-top:10px;}

@media screen and (max-width:992px){
	#mBanner {height:330px; background-size:cover;}
	#mBanner::before {height:50px;}
	#mBanner::after {height:50px;}
    #mBanner > div h2 {font-size:40px;}
    #mBanner > div p {font-size:16px;}
}

@media screen and (max-width:767px){
	#mBanner {height:250px}
	#mBanner::before {height:40px;}
	#mBanner::after {height:40px;}
    #mBanner > div h2 {font-size:30px;}
    #mBanner > div p {font-size:14px;}
}

#mBoard {width:94%; max-width:1200px; margin:50px auto; overflow:hidden;}
#mBoard > div {float:left; width:calc(50% - 15px);}
#mBoard > div:last-child {float:right;}
#mBoard .tit {width:100%; background:#044fa2; box-sizing:border-box; padding:0 40px; position:relative;}
#mBoard .tit h2 {font-size:22px; color:#fff; font-weight:600; line-height:60px;}
#mBoard .tit a {width:19px; height:19px; box-sizing:border-box; border:1px solid #fff; position:absolute; right:40px; top:20px; font-size:0;}
#mBoard .tit a:before {content:''; display:block; width:13px; height:1px; background:#fff; position:absolute; left:2.5px; top:50%;}
#mBoard .tit a:after {content:''; display:block; width:1px; height:13px; background:#fff; position:absolute; left:50%; top:2.5px;}
#mBoard ul {width:100%; box-sizing:border-box; border:1px solid #ddd; border-top:0; padding:20px 40px 20px 30px;}
#mBoard ul li a {display:block; width:100%; font-size:16px; color:#666; line-height:28px; margin-bottom:4px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
#mBoard ul li:last-child a {margin-bottom:0;}
#mBoard ul li a:hover {text-decoration:underline; color:#044fa2;}
#mBoard ul li a:before {content:''; display:inline-block; width:3px; height:3px; background:#044fa2; border-radius:50%; vertical-align:middle; margin-right:8px;}
#mBoard ul.online li a {position:relative; padding-right:100px}
#mBoard ul.online li a .comment {position:absolute; right:0; top:0; width:90px; box-sizing:border-box; border:1px solid #044fa2; font-size:0.875em; color:#044fa2; line-height:26px; text-align:center;}
#mBoard ul.online li a .comment.compl {background:#044fa2; color:#fff;}

@media screen and (max-width:1024px){
	#mBoard > div {width:calc(50% - 10px);}
	#mBoard .tit {padding:0 20px;}
	#mBoard .tit h2 {font-size:20px; line-height:50px;}
	#mBoard .tit a {right:20px; top:15px;}
    #mBoard ul {padding:15px 20px;}
    #mBoard ul li a {font-size:15px;}
}

@media screen and (max-width:767px){
	#mBoard {margin:6% auto;}
	#mBoard > div {float:none !important; width:100%; margin-bottom:10px;}
	#mBoard > div:last-child {margin-bottom:0;}
	#mBoard .tit {padding:0 3%}
	#mBoard .tit h2 {font-size:18px; line-height:45px;}
	#mBoard .tit a {width:17px; height:17px; right:3%;}
	#mBoard .tit a:before {width:11px; left:2px}
	#mBoard .tit a:after {height:11px; margin-left:-0.5px}
	#mBoard ul {padding:3%}
	#mBoard ul li a {font-size:14px; line-height:24px; margin-bottom:3px;}
	#mBoard ul.online li a {padding-right:75px;}
	#mBoard ul.online li a .comment {width:70px; line-height:22px}
}