@charset "UTF-8";

#kakaoMap {height:300px;}

/* 차량 탭 */
.page_rent .rentcarList_tabBtn {display:flex; border-bottom:1px solid #000; margin:20px 0; flex-wrap:wrap; text-align:center;}
.page_rent .rentcarList_tabBtn a {display:inline-block; background:#eee; padding:0 35px; height:40px; line-height:45px; font-size:14px;}
.page_rent .rentcarList_tabBtn a.active,
.page_rent .rentcarList_tabBtn a:hover {background:#171d33; color:#fff;}

/* 차량 목록 */
.page_rent .rentcarList {}
.page_rent .rentcarList>ul {display:flex; justify-content:flex-start; flex-wrap:wrap;}
.page_rent .rentcarList>ul>li { width:33.3333%; margin:25px 0; padding:10px;}
.page_rent .rentcarList>ul>li>a {position:relative; display:block; text-align:center; border-radius:15px;}
.page_rent .rentcarList>ul>li>a:before {}
.page_rent .rentcarList>ul>li>a:hover {color:#000; top:0; box-shadow:0 0 10px rgba(0,0,0,.2) !important;}
.page_rent .rentcarList>ul>li>a:hover .carName {}
.page_rent .rentcarList>ul>li>a:hover .price span {color:red;}
.page_rent .rentcarList>ul>li .img {height:100px; width:90%; background-size:contain !important; margin:0 auto;}

.page_rent .rentcarList>ul>li .text {background:#f9f9f9; border-radius:0 0 15px 15px; padding:5px 0;}
.page_rent .rentcarList>ul>li .carName {font-size:17px; color:#000; height:40px; line-height:44px; margin:0; border-radius:5px 5px 0 0;}
.page_rent .rentcarList>ul>li .price {font-size:17px;}
.page_rent .rentcarList>ul>li .price span {color:#9f1f13;}

.page_rent .brand_logo {position:absolute; top:5px; right:5px; display:block !important; height:40px;}

.dongja {width:135px; height:120px; margin:0 auto; position:relative;}
.dongja .note1 {opacity:0; position:absolute; top:0; left:-10px}
.dongja .note2 {opacity:0; position:absolute; top:-15px; left:20px}
	
.popup_toast {display:none; position:fixed; width:300px; height:60px; line-height:61px; border-radius:10px; text-align:center; color:#fff; cursor:default; box-shadow:0 0 10px rgba(0,0,0,.3) !important;
	top:calc(50% - 30px);
	top:-webkit-calc(50% - 30px);
	left:calc(50% - 100px);
	left:-webkit-calc(50% - 100px);
}
.popup_toast p {font-size:20px; font-weight:normal;}
	
/* 날짜 검색 */
.page_rent .calendarWrap {position:relative; padding:50px 30px;
	background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNyIgaGVpZ2h0PSIyNyIgdmlld0JveD0iMCAwIDI3IDI3Ij4KICA8ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii4wOTIiPgogICAgPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iNCIgeT0iNCIvPgogICAgPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMTMiIHk9IjQiLz4KICAgIDxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjIyIiB5PSI0Ii8+CiAgICA8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSI0IiB5PSIxMyIvPgogICAgPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgeD0iMTMiIHk9IjEzIi8+CiAgICA8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIyMiIgeT0iMTMiLz4KICAgIDxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjQiIHk9IjIyIi8+CiAgICA8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSIxMyIgeT0iMjIiLz4KICAgIDxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHg9IjIyIiB5PSIyMiIvPgogIDwvZz4KPC9zdmc+Cg==);
}
select.hours {border:1px solid #ddd; border-left:0; padding:0 10px; cursor:pointer;}
.page_rent .calendarWrap h4 {text-align:center; font-size:30px;}
.page_rent .calendarWrap .btn-blue {margin-left:5px; height:50px; line-height:50px;}

.page_rent .calendarWrap {text-align:center;}
.page_rent .calendarWrap>img {height:107px;}
.page_rent .calendarWrap .calendarBox {display:flex; max-width:600px; margin:0 auto;}
.page_rent .calendarWrap .calendarBox span {height:50px; line-height:50px; padding:0 3px;}
.calendar {background:#fff !important; height:50px !important; line-height:50px !important; border-radius:0 !important; cursor:pointer;}

/* 차량 상세 */
.page_listdDtl {}
.page_listdDtl .carName {text-align:center; font-size:24px; margin-top:30px !important}
.page_listdDtl .date {text-align:center; display:flex; justify-content:center; line-height:50px;}
.page_listdDtl .date .calendar.next {width:150px; border:1px solid #ddd; border-right:0; border-radius:0; background:#fff; cursor:pointer; margin-left:5px; color:#0d6ffc; font-weight:bold;}
.page_listdDtl .date .calendar.next::placeholder {font-weight:normal;}
.page_listdDtl .date .hours.next {margin-right:5px; border:1px solid #ddd; cursor:pointer;}
.page_listdDtl .date span {color:#0d6ffc; font-weight:600; margin-right:5px;}
.page_listdDtl>div {padding:25px 15px; border-radius:15px;}
.page_listdDtl .carInfoBox {font-size:15px;}
.page_listdDtl .carInfoBox .img {height:160px !important; background-size:contain !important}
.page_listdDtl .carInfoBox label {cursor:pointer; padding-top:7px; font-weight:700;}
.page_listdDtl .carInfoBox label * {display:inline-block; vertical-align:middle;}
.page_listdDtl input[type=radio],
.page_listdDtl input[type=checkbox] {position:relative; vertical-align:middle; margin:0; top:-2px; margin-right:5px;}
.page_listdDtl .carInfoBox label span {margin-right:15px; font-weight:normal}
.page_listdDtl .form-horizontal .control-label {padding-top:0;}
.page_listdDtl .form-group {margin-bottom:15px !important;}

.page_listdDtl .btn_notice {width:100%; height:50px; background:#ffc000 !important; border-radius:30px; font-size:17px; color:#fff;}
.page_listdDtl .btn_notice:hover {background:gold !important}

.page_listdDtl .noticeText {display:none}
.page_listdDtl .noticeText>div {margin-top:50px;}
.page_listdDtl .noticeText>div h5 {font-size:20px;}
.page_listdDtl .formDtl {background:#f5f5f5; padding:25px;}

.page_listdDtl .payBox {box-shadow:0 0 10px rgba(0,0,0,.05) !important; background:#fff;}
.page_listdDtl .payBox h5 {font-size:17px; border-bottom:2px solid #333; padding-bottom:10px; margin-bottom:10px}
.page_listdDtl .payBox ul {}
.page_listdDtl .payBox ul li {position:relative; border-bottom:1px solid #eee; padding:20px 0}
.page_listdDtl .payBox ul li.priceResult .left,
.page_listdDtl .payBox ul li.priceResult .right {color:#0d6ffc; font-size:20px;}
.page_listdDtl .payBox ul li:last-child {border-bottom:0;}
.page_listdDtl .payBox ul li .left { font-weight:500}
.page_listdDtl .payBox ul li .right {position:absolute; right:0; top:20px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; width:295px; text-align:right;}
.page_listdDtl .payBox .btn-carmore {margin-top:15px;}
.page_listdDtl .payBox .text {display:none; position:relative; background:#f5f5f5; padding:20px;}
.page_listdDtl .payBox .text a {display:block; color:blue; text-decoration:underline !important;}

.page_listdDtl .mapInfo {padding-top:15px}
.page_listdDtl .mapInfo * {font-size:15px}

.fixOn {position:fixed; top:20px; max-width:397px;
	right:calc((100% - 1190px) / 2);
	right:-webkit-calc((100% - 1190px) / 2);
}

/* 예약완료 */
.page_rentEnd {text-align:center;}
.page_rentEnd .title {font-size:30px; font-weight:500; margin-top:50px;} 
.page_rentEnd a.btn-primary {min-width:300px; height:50px; line-height:40px; font-size:17px; font-weight:500; color:#fff !important; margin-top:50px;} 

/* 차량 리스트 공용 */
.carList_common {padding:15px 25px; max-width:900px; margin:25px auto; border:1px solid #ddd; border-top:2px solid #171d33;}
.carList_common>li {display:table; width:100%; border-bottom:1px solid #ddd; padding:15px;}
.carList_common>li:last-child {border-bottom:0;}
.carList_common>li>div {display:table-cell; vertical-align:top;}
.carList_common>li>div.left {width:30%; vertical-align:middle;}
.carList_common>li>div.right {width:70%;}
.carList_common .left .img {height:150px; background-size:contain !important}
.carList_common .right.textBox {}
.carList_common .right.textBox .text {display:table-cell;}
.carList_common .right.textBox .text li {display:flex; padding:5px 0;}
.carList_common .right.textBox .text li .left {width:130px; text-align:left;}
.carList_common .right.textBox .text li .right {font-size:14px;}
.carList_common .right.textBox .text li.priceResult * {color:#0d6ffc; font-size:17px;}

.rent_list .title {font-size:24px;}


@media screen and (max-width:1200px){
	.fixOn {position:fixed; top:20px; max-width:397px;
		right:5px
	}
	
	/* 차량 리스트 공용 */
	.carList_common {padding:10px;} 
}

@media screen and (max-width:767px){
	.page_rent .rentcarList_tabBtn a {width:33.3333%; border-top:1px solid #ddd;}
	.page_rent .rentcarList>ul>li {width:50%;}
	
	.page_rent .calendarWrap .calendarBox {flex-wrap:wrap}
	.page_rent .calendarWrap select {width:100%; height:50px; border-left:1px solid #ddd; margin-top:5px;}
	.page_rent .calendarWrap span {text-align:center; font-size:30px; width:100%;}
	.page_rent .calendarWrap .btn-blue {width:100%; margin-top:5px; margin-left:0;} 
	
	/* 차량 리스트 공용 */
	.carList_common {padding:10px;} 
	.carList_common>li {display:block;}
	.carList_common>li>div {width:100%; display:block;}
	.carList_common>li>div.left {width:100%; margin:0 auto;}
	.carList_common .right.textBox .text li .left {width:110px;}
	.carList_common>li>div.right {width:100%; margin:0 auto; text-align:left;}
	
	.page_rent .brand_logo {height:30px;}
	.page_rent .rentcarList>ul>li .price,
	.page_rent .rentcarList>ul>li .carName {font-size:13px}
	
	.page_listdDtl .payBox ul li .right {width:280px;}
}