@charset "utf-8";


header {height:50px; line-height:50px; background: #171d33; position: relative;}
header h1 {font-family: "NanumSquare", sans-serif; font-size:24px; color:#fff; background: #29C7CA; width:200px; height:50px; line-height: 50px; padding-left:25px; font-weight:500;}
header .location {position: absolute; top:0; left:200px; padding-left:20px;}
header .location span {display:inline-block; vertical-align: top; font-size:14px; color:#29C7CA;}
header .location span:not(:first-child) {padding-left:15px; background: url(../images/admin/arr_right_cyan.svg) 3px /6px no-repeat;}

.section_admin {font-size:0; width:1200px; margin:0;}
.section_admin>* {display:inline-block; vertical-align: top;}

nav {width:200px; min-height:100vh; height:100%; background: #171d33;}
nav ul {}
nav ul li {display:block;}
nav ul li a {display:block; font-family: "NanumSquare", sans-serif; font-size:17px; color:#fff !important; height:50px; line-height: 50px; padding-left:20px;}
nav ul li a.active,
nav ul li a:hover {background:#474B57}
nav ul li a.active {background:#474B57 url(../images/admin/arr_right_cyan.svg) 90% /7px no-repeat;}

.content_admin {width:1000px; font-size:14px; padding:20px;}
.content_admin h2 {border-left:3px solid #29C7CA; padding-left:5px; font-family: "NanumSquare", sans-serif; font-size:17px; margin-bottom:15px;}

.tableCommon {border-top:1px solid #000;}
.tableCommon table {border:1px solid #eee;}
.tableCommon table tr {}
.tableCommon table td,
.tableCommon table th {padding:10px 5px; text-align: left; border-bottom:1px solid #eee;}
.tableCommon table td input {border:1px solid #ddd; height:40px; min-width:300px;}
.tableCommon table th,
.tableCommon table td {}
.tableCommon table th {background: #F5F5F5; width:165px; font-weight:500; padding-left:20px;}
.tableCommon table .labelBox {}
.tableCommon table .labelBox * {}

.tableCommon.list {}
.tableCommon.list th {padding-left:5px; width:auto;}
.tableCommon.list th,
.tableCommon.list td {text-align:center;}
.tableCommon.list .labelBox {text-align: left;} 
.tableCommon table td.labelBox input {min-width:auto;} 
.tableCommon table td.labelBox .radio_label {margin-right:10px;}
.tableCommon table td.labelBox .radio_label * {vertical-align: middle;}
.tableCommon table td input[type=file] {padding:7px; cursor:pointer;}



/* 카테고리 */
.category {display:table; width:100%;}
.category>div {display:table-cell;}
.category>div h3 {text-align: center; background: #F5F5F5; height:50px; line-height: 50px; border:1px solid #eee; font-family: "nanumsquare", sans-serif; font-size:17px;}
.category>div.left {width:360px; border-right:1px solid #ddd;}
.category>div.left ul {padding:5px 25px;}
.category>div.left>ul {padding:20px;}
.category>div.left>ul>li {margin-top:10px;}
.category>div.left>ul>li>ul {padding-left:40px; display:none;}
.category>div.left>ul>li>ul>li {}
.category>div.left>ul>li>ul>li>a {display:block; color:#999999; font-size:14px; font-family: "roboto", sans-serif;}
.btn_depth1 {font-family: "NanumSquare", sans-serif; font-size:17px; padding-left:20px; background:url(../images/admin/folder_blue.svg) left /60px no-repeat; padding:10px 30px 10px 70px;}
.btn_depth1.active {background:url(../images/admin/folder_red.svg) left /60px no-repeat;}
.btn_depth2 {font-family: "NanumSquare", sans-serif; font-size:17px; padding-left:20px; background:url(../images/admin/folder.svg) left /20px no-repeat; padding:3px 30px;}

.category>div.right {width:640px;}

.categoryAdd {width:340px; margin:40px auto; }
.categoryAdd h4 {font-family: "NanumSquare", sans-serif; font-size:17px; padding-bottom:10px; font-weight:500;}
.categoryAdd .depth01 {box-shadow:0 1px 10px rgba(0,0,0,.05); padding:25px 15px; border:1px solid #ddd; }
.categoryAdd .depth01 a {display:block; border:1px solid #333; height:30px; line-height: 28px; margin-bottom:10px; padding-left:10px;}
.categoryAdd .depth01 a:hover {background: #29C7CA; color:#fff}
.categoryAdd .addBox {margin-top:50px;}
.categoryAdd .addBox a {text-align: center; height:50px; line-height: 48px;}
.categoryAdd .addBox input {border:1px solid #ddd; width:100%; height:40px;}
.categoryAdd .mid_arr {margin:30px 0;}
.categoryAdd .btn_confirm {display:block; text-align:center; background: #0E6FC4; color:#fff; height:50px; line-height: 50px; margin-top:20px; background: #0E6FC4;}
.categoryAdd .btn_confirm:hover {background: #0B61AC;}
