@charset "utf-8";

  @font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/NanumSquareL.woff) format('woff'),
         url(../fonts/NanumSquareL.otf) format('opentype');
  }
  @font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/NanumSquareB.woff) format('woff'),
         url(../fonts/NanumSquareB.otf) format('opentype');
  }
  
  
a {text-decoration: none;}
a:link {color:#666;}
a:visited {color:#666;}
a:hover {color:#000;}
a:active {color:#000;}

body #ie-warning {display:none; font-family:inherit;}

body .clear {zoom:1; clear:both;}
body .split {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 5px;
  
	white-space: pre-wrap; /* CSS3*/
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-all; /* Internet Explorer 5.5+ */ 
}


/* 텍스트 정렬 */
.txt_left {text-align:left;}
.txt_right {text-align:right;}
.txt_center {text-align:center;}

/* 라인 */
* [class*="lineH"] {clear:both; width:100%; border-bottom:1px solid #ddd;}
.lineH5 {height:5px; margin-bottom:5px;}
.lineH10 {height:10px; margin-bottom:10px;}
.lineH20 {height:20px; margin-bottom:20px;}
.lineH30 {height:30px; margin-bottom:30px;}
.lineH50 {height:50px; margin-bottom:50px;}
.lineH60 {height:60px; margin-bottom:60px;}
.lineH70 {height:70px; margin-bottom:70px;}
.lineH80 {height:80px; margin-bottom:80px;}
.lineH100 {height:100px; margin-bottom:100px;}

/* 여백 */
.h5 {height:5px; padding:0; margin:0; clear:both;}
.h10 {height:10px; padding:0; margin:0; clear:both;}
.h20 {height:20px; padding:0; margin:0; clear:both;}
.h30 {height:30px; padding:0; margin:0; clear:both;}
.h40 {height:40px; padding:0; margin:0; clear:both;}
.h50 {height:50px; padding:0; margin:0; clear:both;}
.h60 {height:60px; padding:0; margin:0; clear:both;}
.h70 {height:70px; padding:0; margin:0; clear:both;}
.h80 {height:80px; padding:0; margin:0; clear:both;}
.h90 {height:90px; padding:0; margin:0; clear:both;}
.h100 {height:100px; padding:0; margin:0; clear:both;}

/* wrap 기준의 자식들 정렬시키기 (자식들에게 width 먹여야함) */
.wrap {font-size:0; position:relative;}
.wrap>* {display:inline-block; vertical-align:top;}

/* margin */
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:25px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}
.mb45 {margin-bottom:45px;}
.mb50 {margin-bottom:50px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb80 {margin-bottom:80px;}
.mb90 {margin-bottom:90px;}
.mb100 {margin-bottom:100px;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:25px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}
.mt90 {margin-top:90px;}
.mt100 {margin-top:100px;}
