@charset "utf-8";

.btn {display:inline-block; vertical-align: middle; padding:5px 20px; border-radius: 5px; background: #333; color:#fff !important; text-align: center; font-size:14px;}
.btn2 {display:inline-block; vertical-align: middle; border-radius: 5px; background: #333; color:#fff !important; text-align: center; font-size:14px; width:100px; height:40px; line-height: 38px; text-align: center;}
.bg_orange {background-color: #EFBE43;}
.bg_orange:hover {background-color: #EFA243}
.bg_cyan {background-color: #35BFCB;}
.bg_cyan:hover {background-color: #359FCB;}
.bg_green {background-color: #2DBC82;}
.bg_green:hover {background-color: #16A46A;}
.bg_red {background: #AB3E1C;}
.bg_red:hover {background: #721D03;}
.bg_blue {background: #0E6FC4;}
.bg_blue:hover {background: #0B5FA8;}
.bg_gray {background: #999999;}
.bg_gray:hover {background: #7E7E7E;}


.c_fff {color:#fff !important;}
.c_green {color:#46C56C !important;}
.c_orange {color:#E2A611 !important;}
.c_cyan {color:#35BFCB !important;}
.c_red {color:red !important;}

.btn_form {display:inline-block; vertical-align: middle; height:40px; line-height: 40px; border:1px solid #707070; padding:0 10px; font-size:12px; font-family: roboto, sans-serif; margin-left:3px;}
.btn_comm {padding-left:42px !important; padding-right:15px; background:#2DBC82 url(../images/speech.svg) 10px /21px no-repeat;}
.btnBox {margin:10px 0;}
.btnBox a {margin-left:10px;}

.txt_left {text-align: left;}
.txt_right {text-align: right;}
.txt_center {text-align: center;}

.tableCommon_wrap {overflow:auto;}
.tableCommon_wrap th {padding:10px 0; background: #F2F5F8;}
.tableCommon {font-size:14px; min-width:700px; overflow:auto;}
.tableCommon td {border-bottom:1px solid #eee; padding:10px; color:#666}
.tableCommon tr:last-child td {border-bottom:0;}
.tableCommon td a {color:#000}
.tableCommon td a:hover {color:red}
.tableCommon img {height:100px; margin-bottom:5px;}

.tableCommon_wrap.buy {border-top:2px solid #35BFCB; text-align: center; border-bottom:1px solid #eee;}
.tableCommon_wrap.sell {border-top:2px solid #EFBE43; text-align: center; border-bottom:1px solid #eee;}
.tableCommon_wrap.list {border-top:2px solid #333;  text-align: center; border-bottom:1px solid #eee;}
.tableCommon_wrap.list td:nth-child(4) {text-align: left;}

/* 페이징 */
.paging {text-align: center; margin:50px 0;}
.paging * {display:inline-block; vertical-align:middle;}
.paging a {border:1px solid #ddd; height:34px; line-height: 32px;}
.paging a.active,
.paging a:hover {background: #666; color:#fff;}
.paging>a {font-size:14px; width:40px; border-radius:5px; margin:0 1px; padding:0}
.paging>div {font-size:0; margin:0 5px;}
.paging>div>a {font-size:14px;  width:40px; }
.paging>div>a {border-right:0;}
.paging>div>a:first-child {border-radius:5px 0 0 5px;}
.paging>div>a:last-child {border-radius:0 5px 5px 0; border-right:1px solid #ddd;}

/* 테이블 하단 검색 */
.searchBox_btm {font-size:0; text-align: center;}
.searchBox_btm * {display:inline-block; vertical-align: middle;}
.searchBox_btm select {width:120px; height:40px; border:1px solid #ddd; border-right:0; padding-left:10px; background: url(../images/select.svg) 95% /10px no-repeat; cursor:pointer;}
.searchBox_btm input {width:40%; height:40px; border:1px solid #ddd;}
.searchBox_btm .btn_search {width:50px; height:40px; line-height: 40px; background: #4673C5; color:#fff; display:inline-block; font-size:14px;}
.searchBox_btm .btn_search:hover {background: #465CC5;}

/* 폼 공용 */
.formCommon {border:1px solid #eee; border-top:1px solid #000;}
.formCommon table {width:100%;}
.formCommon table th {background: #F2F5F8; font-family: roboto, sans-serif;}
.formCommon table th,
.formCommon table td {padding:5px; border-bottom:1px solid #eee; font-size:12px; font-weight:500;}
.formCommon table td input {height:40px; border:1px solid #ddd;}
.formCommon table td textarea {border:1px solid #ddd; width:100%; resize:none; height:200px;}


/* 통이미지 상세 */
.view {}
.view img {width:100%;}

/* 이용약관 */
.agreeWrap {height:120px; overflow:auto; border:1px solid #ddd;}
.agreeWrap pre {border:0; border-radius:0;}

/*  */
.check_label {margin:10px 0; display:block; text-align: right;}
.check_label * {display:inline-block; vertical-align: middle;}
.check_label span {font-size:12px; font-family: roboto;}

.confirm {display:none; }

.loginBox {width:100%; max-width:500px; box-shadow:0 0 6px rgba(0,0,0,.1); margin:30px auto; padding:20px 35px;}
.loginBox input {width:100%; height:50px; border-radius:5px; border:1px solid #DDDDDD; margin-bottom:20px;}
.loginBox .btn_login {display:block; background: #0E6FC4; color:#fff; text-align: center; height:50px; line-height: 50px; font-size:17px; font-family: "Nanumsquare", sans-serif; border-radius:5px;}
.loginBox .btn_login:hover {background: #0C5EA5;}
.loginBox .btnBtm {position: relative; margin-top:20px;}
.loginBox .btnBtm a {color:#999999; font-size:12px; text-decoration:underline;}
.loginBox .btnBtm a:hover {color:red;}
.loginBox .btnBtm a:last-child {position: absolute; right:0; top:0;}

.input_img {}
.input_img input {padding:7px; margin:2px;}
