@charset "utf-8";

/* ******************** 공용 ******************** */
a:link {color:#333;}
a:visited {color:#333;}
a:hover {color:red;}
a:active {color:#333;}

body {font-family:'Noto Sans KR' !important; font-size:14px; line-height:1.6; color:#333333;}
.body_shadow {display:none; position:fixed; z-index:10; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7);}

footer {text-align: center; margin:0 0 50px; border-top:1px solid #ddd; padding-top:30px;}
footer address {}
footer address * {font-size:12px; color:#8B8B8B}
footer .total {margin:20px 0;}
footer .total * {display:inline-block; vertical-align: middle;}
footer .total mark {font-size:11px;border-radius:2px; color:#fff; padding:2px 5px; margin-left:20px;}
footer .total mark~span {font-size:13px;}
footer .total mark.mark_totday {background: #35BFCB;}
footer .total mark.mark_totday+span {color:#35BFCB;}
footer .total mark.mark_total {background: #22949E;}
footer .total mark.mark_total+span {color:#22949E;}
footer .copyright {font-size:12px; }


footer h1 {font-size:17px; padding-bottom:10px;}